[user]
	name = Dozer
	email = mail@dozer.cc
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
[core]
	quotepath = false
	mergeoptions = --no-edit
	editor = /usr/bin/vim
	trustctime = false
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[pull]
	rebase = true
[mergetool]
	keepBackup = false
[include]
	path = ~/.gitconfig_local
[includeIf "gitdir:~/Projects/narvii/"]
	path = .gitconfig_narvii
[includeIf "gitdir:~/Projects/trip/"]
	path = .gitconfig_trip
[url "git@git.dev.sh.ctripcorp.com:ctripgo"]
	insteadOf = https://github.com/ctripcorp
[url "git@git.dev.sh.ctripcorp.com:servicemesh"]
	insteadOf = http://git.dev.sh.ctripcorp.com/servicemesh
