[user]
	name = Dozer
	email = dozer@outlook.com
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
[core]
	quotepath = false
	mergeoptions = --no-edit
	editor = /usr/bin/vim
	trustctime = false
	excludesfile = ~/.gitignore_global
	autocrlf = input
[push]
	default = simple
	autoSetupRemote = true
[pull]
	rebase = true
[mergetool]
	keepBackup = false
[includeIf "gitdir:**/Projects/trip/"]
	path = .gitconfig_trip
[url "git@git.dev.sh.ctripcorp.com:ctripgo"]
	insteadOf = https://github.com/ctripcorp
[url "git@git.dev.sh.ctripcorp.com:servicemesh"]
	insteadOf = http://git.dev.sh.ctripcorp.com/servicemesh
[url "git@git.dev.sh.ctripcorp.com:framework"]
	insteadOf = http://git.dev.sh.ctripcorp.com/framework
[url "git@git.dev.sh.ctripcorp.com:container"]
	insteadOf = http://git.dev.sh.ctripcorp.com/container
[url "git@git.dev.sh.ctripcorp.com:ctripgo"]
	insteadOf = http://git.dev.sh.ctripcorp.com/ctripgo
[alias]
	yolo = !git commit -m \"$(curl -s whatthecommit.com/index.txt)\"
