[user]
	name = Dozer
	email = dozer@outlook.com
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
[core]
	quotepath = false
	mergeoptions = --no-edit
	trustctime = false
	excludesfile = ~/.gitignore_global
	autocrlf = input
[push]
	default = simple
	autoSetupRemote = true
[pull]
	rebase = true
[mergetool]
	keepBackup = false
[includeIf "gitdir:**/Projects/trip/"]
	path = .gitconfig_trip
